$font-body: "Open Sans", sans-serif;
$font-title: "Roboto Mono", monospace;
$font-body2: "Inconsolata", monospace;
$font-body3: "Source Sans Pro", sans-serif;
$regular_h5: 2rem;
$regular_h1: 4rem;
$mobile_h1: 2rem;
$regular_h2: 2rem;
$mobile_h2: 1rem;
$regular_h3: 3rem;
$regular_span: 1.3rem;
$mobile_h3: 0.7rem;
$regular_p: 1rem;
$mobile_p: 0.8rem;
$mobile_span: 0.9rem;
