*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav__custom {
  background-color: #0a132f;
  height: 20vh;
}

.nav__custom a {
  font-family: "Roboto Mono", monospace;
  color: #a8b2d1;
}

.nav__custom a:hover {
  color: #00eeff;
}

.nav__num {
  font-family: "Roboto Mono", monospace;
  color: #00eeff;
}

.nav__close {
  visibility: hidden;
  display: none;
}

.navbar-brand:hover {
  opacity: 0.5;
  -webkit-transform: translate3d(0.1em, -0.1em, 0);
          transform: translate3d(0.1em, -0.1em, 0);
}

.menu__toggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

.close {
  right: -100% !important;
}

.open {
  right: 0;
}

.nav__collapse {
  visibility: hidden;
  display: none;
  right: -100%;
}

.nav__menuico {
  cursor: pointer;
  padding: 1rem 1.5rem 4rem;
  color: #00eeff;
  height: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .nav__collapse {
    z-index: 1;
    display: block;
    width: initial;
    height: 100%;
    padding: 6rem;
    visibility: visible;
    position: fixed;
    top: 0;
    background-color: #233554;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav__collapse ul {
    height: 100%;
    list-style: none;
  }
  .nav__collapse ul a {
    margin-bottom: 3.5rem;
    font-family: "Roboto Mono", monospace;
    color: #a8b2d1;
  }
  .nav__collapse ul a:hover {
    color: #00eeff;
  }
  .nav__collapse .nav__close {
    display: block;
    visibility: visible;
    left: 0;
    top: 0;
    position: absolute;
    padding: 2rem 1.5rem 4rem;
    color: #00eeff;
    height: 1rem;
    font-size: 3rem;
  }
  .menu__toggle {
    display: block;
    padding-top: 0.5rem;
  }
}

main {
  background-color: #0a132f;
  height: 100vh;
}

.hero__container {
  background-color: #0a132f;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 8rem;
}

.hero__container h5 {
  padding-top: 3rem;
  color: #00eeff;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
}

.hero__container h1 {
  color: #e6f1ff;
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

.hero__container h2 {
  color: #a8b2d1;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.hero__container p {
  font-size: medium;
  padding-top: 3rem;
  color: #a8b2d1;
  font-family: "Inconsolata", monospace;
}

.hero__container p span {
  color: #00eeff;
}

@media screen and (min-width: 767px) {
  .hero__container {
    padding-right: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .btn__container {
    padding-left: 1rem;
  }
  .hero__container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .hero__container h5 {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  .hero__container h1 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .hero__container h2 {
    font-size: 1.5rem;
  }
  .hero__container p {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}

.btn__container {
  position: block;
  z-index: -1;
}

.hero__btn {
  background-color: #0a132f;
  color: #00eeff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  width: 100%;
  border: 1px solid #00eeff;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: #00eeff;
  outline-offset: 0px;
}

.hero__btn a {
  text-decoration: none;
  color: #00eeff;
}

.hero__btn:hover {
  border: 1px solid;
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}

.about__container {
  height: 100vh;
  background-color: #0a132f;
  padding-left: 8rem;
  padding-top: 12rem;
}

.about__container h3 {
  font-family: "Open Sans", sans-serif;
  color: #a8b2d1;
}

.about__container h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background-color: #303c55;
  position: relative;
  top: -1rem;
  margin-left: 13rem;
}

.about__container h3 span {
  font-family: "Roboto Mono", monospace;
  color: #00eeff;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-right: 3rem;
}

.right__content a {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #00eeff;
  text-decoration: none;
  padding-left: 1.85rem;
  padding-bottom: 1rem;
}

.right__content a:hover {
  -webkit-transform: translate3d(0.05em, -0.2em, 0);
          transform: translate3d(0.05em, -0.2em, 0);
  text-shadow: -0.1em 0.1em rgba(0, 204, 255, 0.2);
}

.right__content ul {
  list-style: none;
  margin: 0;
}

.right__content ul::after {
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  margin: 0px auto;
  background-color: #a8b2d1;
  margin-top: 1.5rem;
}

.left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 1.5rem;
}

.left__content ul {
  list-style: none;
  margin: 0;
}

.left__content ul::after {
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  margin: 0px auto;
  background-color: #a8b2d1;
  padding-top: 1.5rem;
}

.left__content ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.left__content ul li i {
  color: #a8b2d1;
}

.left__content ul li i:hover {
  color: #00eeff;
  -webkit-transform: translate3d(0.2em, -0.1em, 0);
          transform: translate3d(0.2em, -0.1em, 0);
  text-shadow: -0.1em 0.1em rgba(0, 204, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .left__content {
    display: none;
  }
  .left__content ul {
    display: none;
  }
  .right__content {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */