.contact__container {
  width: 100%;
  display: block;
  position: absolute;
  height: 100vh;
  background-color: $bgColor;
  z-index: 2;
  overflow: hidden;
  height: 100vh;
  text-align: left;
  padding-top: 8rem;
  h3 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: $font-title;
    color: $titleColor;
    font-size: 1rem;
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 30%;
      background-color: rgb(48, 60, 85);
      position: relative;
      top: -1rem;
      margin-left: 7em;
      opacity: 0;
    }
  }
  h1 {
    width: 100%;
    font-family: $font-body;
    color: $textWhite;
    font-size: 3rem;
  }
  p {
    color: $textSecondary;
    font-family: $font-body3;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .btn__container {
    padding-left: 1rem;
  }

  .contact__container {
    margin-top: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
    font-family: $font-body2;
    text-align: center;
    h1 {
      padding-top: 1rem;
      font-size: 2rem;
    }

    h5 {
      padding-top: 1rem;
      font-size: 0.8rem;
    }
  }
}
