main {
  background-color: $bgColor;
  height: 100vh;
}

.hero__container {
  background-color: $bgColor;
  align-items: flex-start;
  padding-left: 8rem;

  h5 {
    padding-top: 3rem;
    color: $titleColor;
    font-family: $font-title;
    font-size: medium;
  }
  h1 {
    color: $textWhite;
    font-family: $font-body;
    font-size: 5rem;
    font-weight: 700;
  }

  h2 {
    color: $textSecondary;
    font-family: $font-body;
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    font-size: medium;
    padding-top: 3rem;
    color: $textSecondary;
    font-family: $font-body2;
    span {
      color: $titleColor;
    }
  }
}

@media screen and (min-width: 767px) {
  .hero__container {
    padding-right: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .btn__container {
    padding-left: 1rem;
  }
  .hero__container {
    padding-right: 4rem;
    padding-left: 4rem;
    h5 {
      padding-top: 3rem;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
    }
    h1 {
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }
    p {
      padding-top: 3rem;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
// get in touch btn
.btn__container {
  position: block;
  z-index: -1;
}

.hero__btn {
  a {
    text-decoration: none;
    color: $titleColor;
  }
  background-color: $bgColor;
  color: $titleColor;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  width: 100%;
  border: 1px solid $titleColor;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: $titleColor;
  outline-offset: 0px;
}

.hero__btn:hover {
  border: 1px solid;
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}
