.hero__container {
  background-color: $bgColor;
  align-items: flex-start;
  padding-left: 8rem;
  height: 80vh;

  h5 {
    padding-top: 3rem;
    color: $titleColor;
    font-family: $font-title;
  }
  h1 {
    color: $textWhite;
    font-family: $font-body;
    font-size: 4rem;
    font-weight: bolder;
  }

  h2 {
    color: $textSecondary;
    font-family: $font-body;
    font-size: 3rem;
    font-weight: bolder;
  }
  p {
    font-size: 1.3rem;
    padding-top: 3rem;
    color: $textSecondary;
    font-family: $font-body2;
  }
}

@media screen and (max-width: 767px) {
  .hero__container {
    padding-left: 4rem;

    h5 {
      padding-top: 3rem;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
    }
    h1 {
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }
    p {
      padding-top: 3rem;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
