.project__container {
  display: flex;
  position: block;
  height: 100vh;
  background-color: $bgColor;
  padding-left: 10%;
  padding-top: 12rem;
  z-index: -1;
  overflow: hidden;

  h3 {
    display: block;
    width: 100%;
    font-family: $font-body;
    color: $textSecondary;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 30%;
      background-color: rgb(48, 60, 85);
      position: relative;
      top: -1rem;
      margin-left: 10em;
    }
    span {
      font-family: $font-title;
      color: $titleColor;
      font-size: 1.5rem;
      padding-right: 1rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .about__container {
    h3 {
      font-size: 1rem;
      &::after {
        width: 70%;
        margin-left: 8rem;
        top: -0.5rem;
        margin-right: 20%;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
}
